<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <h2>This is second level heading</h2>
    <h3>This is third level heading</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero soluta
      porro quasi molestias temporibus magnam iure reprehenderit velit minima
      possimus!
    </p>
  </body>
</html>
